%div.builds
  %h1=params[:name]
  %ul.tabs
    %li
      %a.selected{:href => "/#{params[:name]}"}="Build History"
  %div.page
    %table
      %tr
        %th="Build"
        %th="Message"
        %th="Commit"
        %th="Branch"
        %th="Committer"
        %th="Duration"
        %th="Finished"
      - Repo.builds(params[:name]).each do |build|
        - # FIXME: ???
        - commit = build.changeSet.items.select { |c| c.id }.sort_by(&:timestamp).last
        - next unless commit

        - # FIXME: ???
        - if build.fullDisplayName =~ /^(.*?):\s+(.*?)$/
          - branch = $2
        - else
          - next

        - if build.duration == 0
          - duration = build.estimatedDuration
        - else
          - duration = build.duration

        - start_time = Time.at(build.timestamp / 1000)
        - end_time = start_time + (duration / 1000)

        - # FIXME: ???
        - comment = commit.comment.slice(0, 32)
        - comment += ' ...' if comment.length >= 32

        - # FIXME: ???
        - if build.building
          - klass = 'building'
        - else
          - klass = build.result.to_s.downcase

        %tr
          %td
            %a{:href => "/#{params[:name]}/#{build.number}", :class => klass}="##{build.number}"
          %td=comment
          %td=commit.id.slice(0, 7)
          %td=branch
          %td=commit.author.fullName
          - if build.building
            %td=Time.since(start_time).to_s(SNIKNEJ_TIME_FORMAT) + ' and counting'
            %td='In progress'
          - else
            %td=Time.between(start_time, end_time).to_s(SNIKNEJ_TIME_FORMAT)
            %td=Time.since(end_time).to_s(SNIKNEJ_TIME_FORMAT) + ' ago'
